@page "/addTradePoint"
@using KanbaneManager.Shared.Entities
@using KanbaneManager.BlazorApp.Services
@inject DialogService DialogService

<div class="grid">
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Название"/>
        </div>
        <div class="col-md-8">
            <RadzenTextBox Style="margin-bottom: 20px; width: 100%" @bind-Value="@Item.Name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Город"/>
        </div>
        <div class="col-md-8">
            <RadzenTextBox Style="margin-bottom: 20px; width: 100%" @bind-Value="@Item.City"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Адрес"/>
        </div>
        <div class="col-md-8">
            <RadzenTextBox Style="margin-bottom: 20px; width: 100%" @bind-Value="@Item.Address"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Телефон"/>
        </div>
        <div class="col-md-8">
            <RadzenTextBox Style="margin-bottom: 20px; width: 100%" @bind-Value="@Item.PhoneNumber"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Click="@Submit"/>
            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
        </div>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        Item = new TradePoint();
    }

    public TradePoint Item { get; set; }

    [Parameter]
    public CrudService<TradePoint> crudService { get; set; }

    async void Submit()
    {
        if (await crudService.Add(Item))
        {
            DialogService.Close(Item);
        }
    }

    void Cancel()
    {
        DialogService.Close(false);
    }
}